@slb-dls:registry=https://pkgs.dev.azure.com/slb-swt/_packaging/slb-dls/npm/registry/
always-auth=true
@slb-innersource:registry=https://pkgs.dev.azure.com/slb-swt/_packaging/slb-innersourcing/npm/registry/
always-auth=true
@slb-delfi-exploration:registry=https://pkgs.dev.azure.com/slb-swt/_packaging/slb-delfi-exploration/npm/registry/
always-auth=true
@delfi-gui:registry=https://pkgs.dev.azure.com/slb-swt/_packaging/delfi-gui/npm/registry/
always-auth=true
