<section class="hero-banner">
  <div class="hero-banner__container">
    <img class="hero-banner__logo" alt="Delfi Logo" src="/assets/delfi-logo.png" />
    <button data-slb-id="login" slb-button color="primary" class="hero-banner__login" (click)="goToLogin()">Sign In / Sign Up</button>
    <div>
      <h2 class="hero-banner__title">Asset Transaction</h2>
      <p class="hero-banner__description">Start Discovering Energy Opportunities.</p>
      <button slb-button (click)="goToOpenMap()">Try for Free</button>
    </div>
    <button (click)="goToInfo()" class="hero-banner__scroll"></button>
  </div>
</section>
