<section class="learn-more">
  <h2 class="learn-more__title">The growing one stop shop for all data</h2>
  <div class="learn-more__grid">
    <div class="learn-more__section">
      <h3>Access to global data</h3>
      <p>
        Provides access to global data from a growing number of content providers which accelerates quality decision-making and enhances
        your business strategies in the cloud or on-prem.
      </p>
      <h4>Commercial Data</h4>
      <p>From Content providers covering E&P value chain and New Energies</p>
      <h4>National Data</h4>
      <p>From important energy producers in world</p>
      <h4>Public Data</h4>
      <p>From well established sources</p>
    </div>
    <div class="learn-more__section">
      <img alt="Global Data" src="assets/images/global-data.png" />
    </div>
    <div class="learn-more__section">
      <img alt="Learn more about us" src="assets/images/connection.png" />
    </div>
    <div class="learn-more__section learn-more__section--invert">
      <h3>Learn more about us</h3>
      <p>Learn more about</p>
      <a href="https://www.software.slb.com/data/guide-to-osdu-data-platform" target="_blank" class="learn-more-sub-link"><h4>OSDU</h4></a>
      <p>Learn more about</p>
      <a href="https://www.software.slb.com/delfi" target="_blank" class="learn-more-sub-link"><h4>DELFI</h4></a>
    </div>
  </div>
</section>
